<div class='a-container'>
	<div class='intro panel'>
		<div class='panel-heading'>
			<h3 class='panel-title'>How It Works</h3>
		</div>
		<div class='intro-content'>
			This demo project interacts with the Geonames REST API. Browse countries and then see the country details.
			An image of the country, their flag, capital and population information is provided through the API.
		</div>
		<div class='actions'>				
				<a ng-href= "#/countries" class='btn btn-blue' value='Browse Countries'>Browse Countries</a>
		</div>
	</div>
</div>